{{>header}}
{{>navbar}}

<main>
    <div class="container">
        <table class="striped">
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Balance</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#if isEmpty}}
                <tr>
                    <td>no accounts to show</td>
                </tr>
                {{/if}}
                {{#each clients}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.balance}}</td>
                    <td>
                        <a href="edit/{{this.email}}" class="waves-effect waves-light pink lighten-2 btn-small">edit</a>
                        <a href="delete/{{this.email}}"class="waves-effect waves-light red darken-2 btn-small">delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</main>

{{>footer}}